body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.content {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form button:hover {
    background: #0b7dda;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 讓區塊在視窗中間 */
    text-align: center;
}
