<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收尋結果</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<title>Result</title>
<body>
    <!-- 導覽列區塊（上方選單） -->
    <div class="topnav" >

        <!--第一個查詢結果的連結 -->
        <a href="{{ url_for('result') }}" class="{% if active_page == 'result' %}active{% endif %}">{{ query1 }}</a>
        <!-- 如果有第二個查詢結果，就顯示它的連結 -->
        {% if query2 %}
        <a href="{{ url_for('result_1') }}" class="{% if active_page == 'result_1' %}active{% endif %}">{{ query2 }}</a>
        {% endif %}
        <!-- 如果有第三個查詢結果，就顯示它的連結 -->
        {% if query3 %}
        <a href="{{ url_for('result_2') }}" class="{% if active_page == 'result_2' %}active{% endif %}">{{ query3 }}</a>
        {% endif %}

        <!-- 返回首頁（搜尋頁）的按鈕 -->
        <div id="gohome">
            <form action="{{ url_for('home') }}">
            <input type="submit" value="返回搜尋">
            </form>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
        <!-- 用於 Flask 的模板繼承 -->
    </div>
</body>
</html>